#titulo { 
    font-size: 30px;
    text-align: center;
    color: blue;

}


.texto{ 
    text-align: center;
    color: red;
    font-size: 20px;
    
}

p {
    text-align: center;
    color:rgb(70, 6, 66);
    font-size: 20px;
}

